<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{docTitle}
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/product.css")
    body
        header.main-header
            nav.main-header_nav
                ul.main-header_item-list
                    li.main-header_item
                        a.active(href="/") Shop
                    li.main-header_item
                        a(href="/admin/add-product") Add Product
        
        main
            if prods.length >0
                .grid
                
                    each product in prods
                        article.card.product-item
                            header.card_header
                                h1.product_title #{product.title}
                            div.card_image
                                img(src="https://www.freepngimg.com/thumb/book/6-books-png-image-with-transparency-background.png", alt="A Book")
                            div.card_content   
                                h2.product_price $19.99 
                                p.product_description A very nice product
                            .card_action    
                                button.btn Add to Cart
            else    
                h1 No products                

      
