<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    
</head>
<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <% if(hasProducts>0) { %>
            <div class="grid">
                <% for(let product of prods) {%>
                    <article class="card product-item">
                        <header class="card_header">
                            <h1 class="product_title"><%= product.title %> </h1>
                        </header>
                        <div class="card_image">
                            <img src="https://www.freepngimg.com/thumb/book/6-books-png-image-with-transparency-background.png" alt="A Book">

                        </div>
                        <div class="card_content">
                            <h2 class="product_price">$19.99</h2>
                            <p class="product_description">a very interesting book</p>
                        </div>
                        <div class="card_action">
                            <button class="btn">Add to Cart</button>
                            
                    </article>
                <% } %>
            </div>
        
        <% } else{ %>
            <h1>No product found!</h1>
            <% } %>
    </main>

<%- include('includes/end.ejs') %>